.container {
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

header {
  background: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}

header a {
  text-decoration: none;
  color: #fff;
}

main a {
  text-decoration: none;
  color: #000;
}

header a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
}
